flutter/ephemeral
# Exclure les images du Mushaf (trop lourdes pour Git)
assets/mushaf/**/*.jpg
assets/mushaf/**/*.png

# Optionnel : si tu veux aussi exclure les fichiers de base de données volumineux
*.db